.ContenedorPrincipal{
background: rgba(0, 0, 0, 0.7);
height: 80px;
display: flex;
color: #fff;
justify-content: space-around;
align-items: center;
}
.nav ul{
    display: flex;
    gap: 20px;    
}
. {
    text-decoration: none;
    color: #fff;
}
.section p {
    font-size: 24px;
}
.section h1{
    font-size: 40px;
}
.section button{
    padding: 20px;
    color: white;
    background: black;
    border: none;
    outline: none;
    transition: 200ms ease;
}
.section button:hover{
background: white;
color: black;
}
